body {
    background-color: antiquewhite;
}

h1 {
    color: darkred;
}

button {
    background-color: peru;
    color: white;
}

#box2 {
    height: 200px;
    width: 100px;
    background-color: peru;
    color: white;
    border: 2px solid wheat;
}